/* ------------------------- */


/* --- itens do slide ----- */


/* ----------------------- */

.image-01 {
    background: url('../img/fotos-gol-1000-em-fila.jpg');
}

.image-02 {
    background: url('');
}

.image-03 {
    background: url('');
}