@media(max-width:1266px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 90%;
    }
}

@media(max-width:1127px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 80%;
    }
}

@media(max-width:923px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 72%;
    }
}

@media(max-width:862px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 70%;
    }
}

@media(max-width:805px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 65%;
    }
}

@media(max-width:738px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 58%;
    }
}

@media(max-width:666px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 58%;
    }
}

@media(max-width:619px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 50%;
    }
}

@media(max-width:557px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 48%;
    }
}

@media(max-width:500px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 45%;
    }
}

@media(max-width:438px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 40%;
    }
}

@media(max-width:375px) {
    .carousel-control.left,
    .carousel-control.right {
        height: 30%;
    }
}