/* ------------------------- */


/* --- itens do slide ----- */


/* ----------------------- */

.image-01 {
    background: url('../img/fotos-gol-1000-em-fila.jpg');
}

.image-02 {
    background: url('https://dummyimage.com/1900x880/000/fff');
}

.image-03 {
    background: url('https://dummyimage.com/1900x880/000/fff');
}

.fill {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
    background-repeat: no-repeat;
}