hr.small{
    width: 115px;
}

.margem-topo{
    margin-top: 60px;
}

.margem-baixo{
    margin-bottom: 60px;
}

/* Serviços */
#servicos {
    background: #333;
    color: #fff;
    text-align: center;
}

#servicos .main-title{
    text-transform: uppercase;
}